<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <div class="container">
        <h2>Oops! La pifiaste!!!!!!!!!!!!!!.</h2>
        <h1 class="titulo">404</h1>
        <p>El recurso que buscas no existe.</p>
        <a href="/">Ir a listar libros</a>

    </div>
    <footer class="footer">
        <p>&copy;César Vargas Escorcia<br><br>
            <a class="enlace" href="https://github.com/cesar-vaesco" target="_blank">Repositorio -
                https://github.com/cesar-vaesco</a>
        </p>
    </footer>
    <!-- https://github.com/akshitagupta15june/Website-error-static-pages-html-css -->

</body>

</html>
